/* Header fonts */

/* Subheader / title fonts */

/* Text fonts */

@font-face {
    font-family: CreatoDisplay-Light;
    src:url("../assets/CreatoDisplay-Light.ttf")
}

@font-face {
    font-family: CreatoDisplay-LightItalic;
    src:url("../assets/CreatoDisplay-LightItalic.ttf")
}

@font-face {
    font-family: CreatoDisplay-Medium;
    src:url("../assets/CreatoDisplay-Medium.ttf")
}

@font-face {
    font-family: CreatoDisplay-MediumItalic;
    src:url("../assets/CreatoDisplay-MediumItalic.ttf")
}

/* Brand fonts */
@font-face {
    font-family: RealityHyper;
    src:url("../assets/Reality Hyper Regular.ttf")
}

/* Fade-in transition */
body {
    animation: fade-in ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Background animation */
body:not(#welcome-body) {
	background: linear-gradient(-45deg,#191924, #13172A, #110A0A);
	background-size: 500% 500%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
