/* Page container */
#outer-container {
    overflow: hidden !important;

    /* Used for editing */
    border-style: none;
    border-color: purple;
    border-width: 2px;
}

/* Experience container */
#exp-container {
    width: 60%;
    float: right;
    margin-right: 150px;
    margin-top: 40px;
    margin-left: auto;
    
    /* Used for editing */
    border-style: none;
    border-color: pink;
    border-width: 2px;
}

/* Experience header */
#experience-header {
    font-family: CreatoDisplay-MediumItalic;
    display: grid;
    text-align: center;
    text-transform: uppercase;
    width: 450px;
    float: left;
    margin-left: 0px;
    position: absolute;
    font-size: 50px;
    overflow: hidden !important;

    /* Used for editing */
    border-style: none;
    border-color: purple;
    border-width: 5px;
}

/* Experience position titles */
#exp-title, #exp-title-linked {
    font-family: CreatoDisplay-Medium;
    text-transform: lowercase;
    display: inline-block;
    text-align: left;
    color: #D6D2DA;
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 30px;
    text-decoration: none;
    width: fit-content;

    /* Used for editing */
    border-style: none;
    border-color: white;
    border-width: 2px;

}

#exp-title-linked:hover {
    font-family: CreatoDisplay-Medium;
    text-transform: lowercase;
    text-align: left;
    color: white;
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 30px;
    text-decoration: none;

    /* Used for editing */
    border-style: none;
    border-color: white;
    border-width: 2px;
}

/* Title details */
#title-details {
    font-family: CreatoDisplay-LightItalic;
    text-transform: lowercase;
    display: inline-block;
    text-align: left;
    color: #D6D2DA;
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 30px;
    text-decoration: none;

    /* Used for editing */
    border-style: none;
    border-color: rgb(141, 78, 78);
    border-width: 2px;
}

/* Experience dates */
.exp-date {
    font-family: CreatoDisplay-Medium;
    text-transform: lowercase;
    display: inline-block;
    text-align: left;
    color: #67616B;
    margin-bottom: 5px;
    margin-top: 0px;

    /* Used for editing */
    border-style: none;
    border-color: white;
    border-width: 2px;

}

/* Company link */
#company-link {
    text-decoration: none;
    font-family: CreatoDisplay-MediumItalic;
    text-transform: lowercase;
    display: inline-block;
    text-align: left;
    color: #67616B;
    margin: 0 0 10px 0;
}

#company-link:hover {
    text-decoration: none;
    font-family: CreatoDisplay-MediumItalic;
    text-transform: lowercase;
    display: inline-block;
    text-align: left;
    color: #9A949E;
    margin: 0 0 10px 0;
}

/* Experience description */
#exp-desc {
    margin-top: 0px;
    font-family: CreatoDisplay-Medium;
    display: grid;
    text-align: left;
    color: #B9B4BB;
}

/* Skills & Technology points */
#skills-container {
    margin-bottom: 20px;
    margin-top: 0px;
}

ul {
    padding-left: 0;
    
}

li:before {
    content: "";
}

#skills {
    font-family: CreatoDisplay-Light;
    display: inline-block;
    border-style: solid;
    border-radius: 20px;
    border-width: 0px;
    width: fit-content;
    padding: 10px;
    margin: 0px 10px 10px 0;
    background-color: #353847;
    color: #BCD3F2;
}


/* Images */
.project-img {
    display: grid;
    text-align: center;
    width: 60%;
}
