/*Navbar container */
#nav-container {
    width: 100%;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    /* Used for editing */
    border-style: none;
    border-color: magenta;
    border-width: 2px;
}

/* Navbar background */
.navbar {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    float: right;
    height: 50px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 20px -5px;

    /* Used for editing */
    border-style: none;
    border-color: green;
    border-width: 2px;
    
}

/* Navbar item containers */
.navbar .container {
    position: relative;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin: auto 30px auto 30px;

    /* Used for editing */
    border-style: none;
    border-color: red;
    border-width: 2px;
}

/* Navbar hover transition */
.navbar .container:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    transform: skew(0deg);
    background: #2C2C39;
    transition: width 400ms ease;

    /* Used for editing */
    border-style: none;
    border-color: blue;
    border-width: 2px;
}

.navbar .container:hover:before {
    width: 120%;
}

.nav-link:hover, .navbar-brand:hover {
    color: white;
}

.navbar .container:nth-child:before {
    transform: skew(0deg);
}

/* Links in Navbar items */
.nav-link, .navbar-brand {
    font-size: 18px;
    color: #C2BFC2;
    text-transform: lowercase;
    font-family: CreatoDisplay-Medium;
    z-index: 10;
    padding: 40px;
    text-decoration: none;
    transition: color 200ms ease;
}

