/* Page container */
#outer-container {
    margin: 10px 120px 10px 120px;
    overflow: hidden;
}

/* Project type header */
.project-type-header {
    font-family: CreatoDisplay-MediumItalic;
    display: grid;
    text-align: center;
    text-transform: uppercase;
}

/* Project titles */
.project-title {
    font-family: CreatoDisplay-MediumItalic;
    display: grid;
    text-align: center;
    color: #717852;

}

/* Project dates */
.project-date {
    font-family: CreatoDisplay-Medium;
    display: grid;
    text-align: center;
    color: #2C2927;

}

/* Project description */
.project-desc, .tech-list {
    font-family: CreatoDisplay-Medium;
    display: grid;
    text-align: left;
}

/* Description bullets */
ul {
    font-family: CreatoDisplay-Medium;
    padding-left: 0;
}

/* List bullets */
li:before {
    content: "‣";
    padding-right: 5px; 
}


/* Images */
.project-img {
    display: grid;
    text-align: center;
    width: 60%;
}

.github-logo {
    display: grid;
    text-align: center;
    width: 10%;
}

