/* Background image */
#welcome-background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
 }

/* Page container */
#page-container {
    margin: 0px !important;
    height: 100vh;
    position: relative;
    width: auto;
    overflow: hidden; 

    /* Used for editing */
    border-style: none;
    border-color: blue;
    border-width: 4px;
}

/* Center Intro container */
#intro-container {
    width: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto !important;

    /* Used for editing */
    border-style: none;
    border-color: red;
    border-width: 5px;
}

/* Button container */
#button-container {
    text-align: center;
}

/* Text */
#name {
    text-align: center;
    font-family: RealityHyper;
    font-size: 90px;
    width: 100%;
    margin: 10px 0px 10px 0;
    color: #eff1ea;
}

.about { 
    color: white;

}

/* Continue animation */
#continue {
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
    font-family: CreatoDisplay-Medium;

    transform: translate(-50%, -50%);
    padding: 12px 48px;
    background: linear-gradient(to right, #7f7771 0, #eff1ea 10%, #7f7771 20%);
    background-position: 0;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    text-decoration: none;
    white-space: nowrap;
}

@keyframes shine {
    0% {
        background-position: 0
    }

    60% {
        background-position: 180px
    }

    100% {
        background-position: 180px
    }
}
