/* Background image */
#welcome-background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    outline: 1px solid #7D7D8C;
    outline-offset: -20px;
}

/* Page container */
#page-container {
    margin: 0px !important;
    height: 100vh;
    position: relative;
    width: auto;
    overflow: hidden;

    /* Used for editing */
    border-style: none;
    border-color: blue;
    border-width: 4px;
}

/* Left Justify Intro container */
#intro-container {
    width: 45%;
    float: left;

    margin-left: 200px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    /* Used for editing */
    border-style: none;
    border-color: red;
    border-width: 5px;
}

#about-me {
    margin: 0 40px 0 40px;

    /* Used for editing */
    border-style: none;
    border-color: orange;
    border-width: 5px;
}

/* Button container */
#button-container {
    float: right;
    transform: translateY(80%);
    margin-right: 400px;

    /* Used for editing */
    border-style: none;
    border-color: purple;
    border-width: 5px;
}

/* Button styling */
#button-container li {
    margin: 40px;
}

#button-container ul  {
    list-style-type: none;
}

#name {
    width: 50%;
    margin-left: 20px;
    color: #E2DDE4;

    /* Used for editing */
    border-style: none;
    border-color: pink;
    border-width: 5px;
}

.about {
    color: #D6D2DA;
    font-size: 20px;
    font-family: CreatoDisplay-Light;
}

/* Button animation */
#button {
    text-decoration: none;
    padding: 10px;
    font-size: 50px;
    font-family: CreatoDisplay-Medium;

    transform: translate(-50%, -50%);
    padding: 12px 48px;
    background: linear-gradient(to right, #A7A7B1 0, #eff1ea 10%, #A7A7B1 20%);
    background-position: 0;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    text-decoration: none;
    white-space: nowrap;
}

@keyframes shine {
    0% {
        background-position: 0
    }

    60% {
        background-position: 180px
    }

    100% {
        background-position: 180px
    }
}